.home{
    background-color: #FAF8F7;
}
.header{
    height: 120px;
    background-color: #FAFAF7;
}
.header-inner,
.section{
    width: 1200px;
    margin: 0 auto;
}
.header-l,
.header-r{
    float: left;
    height: 120px;
}
.header-l{
    display: block;
    width: 166px;
    background: url(./../img/logo.png) no-repeat center center;
    background-size: 100%;
}
.header-r{
    width: 1034px;
}
.header-r a{
    float: left;
    display: inline-block;
    height: 120px;
    line-height: 120px;
    padding: 0 15px;
    font-size: 18px;
    color: #333;
    margin-left: 40px;
}
.header-r .header-active{
    color: #cd1b0a;
}
.swiper-container{
    height: 550px;
}
.banner img{
    display: block;
    width: 100%;
}
.slide-1{
    background: url(./../img/banner-01.png) no-repeat center 0;
}
.slide-2{
    background: url(./../img/banner-02.png) no-repeat center 0;
}
.slide-3{
    background: url(./../img/banner-03.png) no-repeat center 0;
}
/* swiper edit */
.banner .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: 80;
}
.banner .swiper-pagination-bullet-active{
    background: #E56F5D;
}
.section-inner{
    margin-top: 20px;
}
/* f1 */
.sec-f1-l,
.sec-f1-r{
    float: left;
    height: 460px;
    position: relative;
}
.sec-f1-l{
    width: 575px;
}
.sec-f1-r{
    width: 605px;
    margin-left: 20px;
}
.section-title{
    font-size: 26px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
    font-family: 'TimesNewRoman';
}
.sec-f1-li li{
    height: 60px;
    line-height: 60px;
    color: #666;
    padding: 0 15px;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.sec-f1-li li:before{
    content: ' · ';
    font-weight: bold;
}

/*.sec-f1-li,
.sec-f1-list{
    background-color: #F7F5F5;
}*/
.sec-f1-list{
    margin: 10px 0 20px;
}

.sec-f1-list-img,
.sec-f1-list-text{
    float: left;
    height: 100px;
}
.sec-f1-list-img{
    width: 100px;
    overflow: hidden;
}
.sec-f1-list-img img{
    display: block;
    width: 100%;
}
.sec-f1-list-text{
    width: 505px;
    box-sizing: border-box;
    padding: 25px 15px 15px;
}
.sec-f1-list-desc{
    height: 25px;
    line-height: 25px;
    color: #666;
    letter-spacing: 1px;
    border-bottom: 1px solid #666;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.sec-f1-list-time{
    color: #e58373;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
}
.sec-f1-more{
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 55px;
    font-size: 20px;
    color: #e58373;
}
.section-f1 .sec-f1-more{
    bottom: 5px;
}

/* f2 */
.section-f2-inner{
    position: relative;
    height: 430px;
}
.section-f2-list{
    float: left;
    width: 340px;
    overflow: hidden;
}
.section-f2-list-t{
    width: 100%;
    height: 190px;
    overflow: hidden;
}
.section-f2-middle{
    box-sizing: border-box;
    width: 430px;
    border-left: 1px solid #F9E0DC;
    border-right: 1px solid #F9E0DC;
    padding: 0 44px;
    margin: 0 45px;
}
.section-f2-list-m{
    height: 50px;
    line-height: 50px;
    color: #e57768;
    font-size: 20px;
}
.section-f2-list-b{
    height: 96px;
    line-height: 2;
    color: #72767f;
    letter-spacing: 1px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

/* f3 */
.section-f3-header{
    border: 1px solid #F9E0DC;
    margin-bottom: 15px;
}
.section-f3-tab{
    display: block;
    float: left;
    width: 33.33%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #E56F5D;
}
.section-f3-tab-m{
    box-sizing: border-box;
    border-left: 1px solid #F9E0DC;
    border-right: 1px solid #F9E0DC;
}
.tab-active{
    color: #fff;
    background-color: #E56F5D;
}
.section-f3-body{
    padding-bottom: 15px;
}
.section-f3-body-tabs{
    display: none;
}
.section-f3-body-li{
    height: 43px;
    line-height: 43px;
    color: #666;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.section-f3-body-li:before{
    content: ' · ';
    font-weight: bold;
}

/* footer */
.footer{
    height: 400px;
    background: url(./../img/co-footer.png) no-repeat center center;
    overflow: hidden;
}
.footer-outer{
    width: 1200px;
    margin: 100px auto 0;
}
.footer-l,
.footer-r{
    float: left;
    height: 250px;
}
.footer-l{
    width: 600px;
    margin-right: 240px;
}
.footer-r{
    width: 360px;
}
.footer-l span{
    display: inline-block;
    color: #555;
}
.footer-l-list-name{
    display: inline-block;
    width: 175px;
    float: left;
    line-height: 2.5;
}
.footer-l-list .footer-l-list-name:before{
    content: '';
    display: inline-block;
    height: 40px;
    width: 16px;
    float: left;
    margin-right: 10px;
    background-size: 100%;
}
.footer-l-list-1:before{
    background: url(./../img/icon-school.png) no-repeat center center;
}
.footer-l-list-2:before{
    background: url(./../img/icon-phone.png) no-repeat center center;
}
.footer-l-list-3:before{
    background: url(./../img/icon-gps.png) no-repeat center center;
}
.footer-l-list-4:before{
    background: url(./../img/icon-mail.png) no-repeat center center;
}
.footer-l-list-detail{
    float: left;
    line-height: 2.5;
}
.footer-r img{
    display: block;
    margin-bottom: 30px;
}
.footer-version{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    color: #545b66;
}
.footer-version:after{
    content: '';
    display: inline-block;
    width: 0;
    border: 5px solid transparent;
    border-left: 8px solid #666;
    margin-left: 5px;
}

/* index2.1 */
.section-inner1-l{
    float: left;
    width: 715px;
}
.section-inner1-r{
    float: left;
    width: 375px;
    margin-left: 110px;
}
.section-inner1-title h3{
    height: 50px;
    line-height: 50px;
    color: #F54132;
    font-size: 45px;
}
.section-inner1-title img{
}
.inner1-l-text{
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #666;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.inner1-l-text:before{
    content: ' · ';
    font-weight: bold;
}
.inner1-l-paging{
    padding: 50px 0;
}
.paging-btn{
    float: left;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #676767;
    border: 1px solid #565A5F;
    border-radius: 5px;
    margin-right: 15px;
}
.paging-prev{
    background: url(./../img/co-icon-prev.png) no-repeat center center;
}
.paging-next{
    background: url(./../img/co-icon-next.png) no-repeat center center;
}
.paging-active{
    background: #E55D4F;
    color: #fff;
    border: 1px solid #E55D4F;
}
.paging-dian{
    border: 1px solid transparent;
}
.section-inner1-r{
    position: relative;
    padding-bottom: 30px;
}
.section-inner1-r h3{
    margin-top: 30px;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    font-size: 26px;
}
.section-inner1-r .sec-f1-list-text{
    width: 275px;
}

/* index2.2 */
.sec-1-link{
    height: 40px;
    line-height: 40px;
    color: #999;
    padding: 20px 0 10px;
}
.sec-1-link a{
    color: #E55D4F;
}
.sec-1-link .sec-1-link-target{
    color: #666;
}
.sec-1-header h4{
    font-size: 40px;
}
.sec-1-header h5{
    font-size: 24px;
    width: 70%;
    padding-bottom: 25px;
    border-bottom: 1px solid #eee;
}
.sec-1-body{
    padding: 25px 0;
    line-height: 1.8;
    color: #666;
}
.sec-2{
    padding-bottom: 70px;
    position: relative;
}
.sec-2-img{
    width: 30%;
    float: left;
}
.sec-2-img img{
    display: block;
    width: 100%
}
.sec-2-img-m{
    margin: 0 5%;
}
.sec-2 .sec-f1-more{
    left: 0;
    bottom: 30px;
}











