/* research1.1 */
.resc-l{
    width: 980px;
    float: left;
    margin-right: 60px;
}
.resc-r{
    width: 160px;
    float: left;
}
.resc-top-title{
    font-size: 40px;
    padding: 30px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #DCDBDB;
    font-family: 'PTSansBold';
}
.resc-l-list{
    display: block;
    height: 43px;
    line-height: 43px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-family: "PTSerif";
}
.resc-l-list:before{
    content: ' · ';
    font-weight: bold;
}
.resc-r-top-title{
    font-size: 18px;
    padding: 30px 0 15px;
    font-family: 'PTSansBold';
}
.resc-r-list{
    display: block;
    padding: 15px 0;
    border-top: 1px solid #DCDBDB;
    font-family: 'PTSans';
}
.resc-r-list-first{
    border-top: none;
}
.resc-r-list-red{
    color: #F44131;
}
.research-f .inner1-l-paging{
    padding-top: 20px;
}

/* research1.2 */
.research-f-nav{
    height: 40px;
    line-height: 40px;
    color: #999;
    padding: 20px 0 5px;
}
.research-f-nav a{
    color: #E55D4F;
    font-family: "PTSerif";
}
.research-f-nav .sec-1-link-target{
    color: #666;
}
.resc-m-title{
    font-size: 40px;
    font-family: "PTSansBold";
}
.resc-m-inner{
    line-height: 1.8;
    color: #666;
    padding: 15px 0 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #DCDBDB;
    font-family: "PTSans";
}
.resc-body-inner{
    line-height: 1.8;
    color: #666;
    font-family: "PTSerif";
}
.resc-body-span{
    color: #333;
    font-family: "PTSansBold";
}
.resc-download{
    display: inline-block;
    height: 26px;
    line-height: 26px;
    color: #e65c45;
    font-size: 20px;
    margin: 30px 0;
}
.resc-download:before,
.resc-download:after{
    content: '';
    display: inline-block;
    width: 20px;
    height: 26px;
}
.resc-download:before{
    float: left;
    margin-right: 10px;
    background: url(./../img/co-icon-download.png) no-repeat center center;
}
.resc-download:after {
    float: right;
    margin-left: 10px;
    background: url(./../img/co-icon-pdf.png) no-repeat center center;
    background-size: 80%;
}
.research21{
    position: relative;
    padding-bottom: 70px;
}
.research21 .link-more{
    bottom: 40px;
    left: 0;
}

/* research5.1 */
.resc-cont-list{
    padding-top: 20px;
}
.resc-cont-list-l{
    width: 340px;
    float: left;
}
.resc-cont-list-l img{
    display: block;
    width: 100%;
}
.resc-cont-list-r{
    display: block;
    width: 640px;
    float: left;
    box-sizing: border-box;
    padding: 20px 16px 10px 16px;
}
.resc-cont-text-t{
    color: #e57768;
    font-size: 20px;
    line-height: 1.8;
}
.resc-cont-text-b{
    color: #72767f;
    line-height: 1.8;
}
.research51-f .inner1-l-paging{
    padding: 40px 0 60px;
}