/* talents1 */
.talents-l{
    width: 980px;
    float: left;
    margin-right: 60px;
}
.talents-r{
    width: 160px;
    float: left;
}
.talents-h3{
    font-size: 40px;
    letter-spacing: 2px;
    padding: 30px 0 15px;
    font-family: "PTSansBold";
}
.talents-h4{
    font-size: 18px;
    padding: 35px 0 5px;
    font-family: "PTSansBold";
}
.talents-l-inner{
    line-height: 1.8;
    border-bottom: 1px solid #DCDBDB;
    padding: 10px 0 25px;
    margin-bottom: 20px;
    font-family: "PTSansBold";
}
.talents-r-list{
    display: block;
    height: 47px;
    line-height: 47px;
    border-top: 1px solid #DCDBDB;
    font-family: "PTSans";
}
.talents-r-list-first{
    border-top: none;
}
.talents-r-red{
    color: #F44131;
}
.talents-text-title{
    color: #e45e50;
    font-size: 20px;
    padding: 10px 0;
    font-family: "PTSansBold";
}
.talents-inner-text{
    color: #666;
    line-height: 1.8;
    font-family: "PTSerif";
}
.talents-inner-text-font{
    color: #333;
    font-family: "PTSansBold";
}
.talents1-f2{
    padding-bottom: 50px;
}

/* talents4*/
.talents-l-img{
    padding: 30px 0 0 0;
}
.talents-l-inner-img{
    width: 320px;
    float: left;
}
.talents-l-inner-2{
    margin: 0 10px;
}
.talents-l-inner-img img{
    display: block;
    width: 100%;
}

/* department1 */
.dept-img{
    padding-top: 20px;
}
.dept-img-list{
    width: 378px;
    float: left;
}
.dept-img-list2{
    margin: 0 33px;
}





