/* teachers */
.teachers-title{
    width: 980px;
    font-size: 40px;
    border-bottom: 1px solid #DCDBDB;
    padding: 30px 0;
    margin-bottom: 15px;
}
.teachers1-inner-title{
    display: inline-block;
    height: 42px;
    line-height: 42px;
    color: #f16552;
    font-size: 20px;
    background: #F8F1F0;
    padding: 0 20px;
    border-radius: 21px;
    margin: 10px 0;
}
.teachers1-inner-title:before,
.teachers1-inner-title:after{
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #F1D3CD;
    position: relative;
    top: -3px;
}
.teachers1-inner-title:before{
    margin-right: 20px;
}
.teachers1-inner-title:after {
    margin-left: 20px;
}
.teachers1-inner-table{
    width: 100%;
}
.teachers1-inner-table td{
    width: 10%;
    height: 45px;
    line-height: 45px;
    color: #666;
}
.teachers1-f{
    padding-bottom: 40px;
}

/* teachers2 */
.teachers2-inner{
    padding-bottom: 15px;
}
.teachers2-inner-title{
    color: #f46549;
    font-size: 20px;
    height: 37px;
    line-height: 37px;
}
.teachers2-inner-num{
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background: #F28D79;
}
.teachers2-inner-text{
    color: #666;
    padding-left: 30px;
    line-height: 1.8;
    letter-spacing: 1px;
}
.teachers2-f{
    position: relative;
    padding-bottom: 80px;
}
.teachers2-f .link-more{
    bottom: 45px;
}

/* teachers3 */
.teachers3-f .teachers-title{
    border-bottom: none;
    padding-bottom: 15px;
    margin-bottom: 0;
}
.teachers-subhead{
    font-size: 30px;
    border-bottom: 1px solid #F9C7C2;
    color: #666;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.teachers-subhead span{
    font-size: 18px;
    vertical-align: text-bottom;
    margin-left: 25px;
}









