<div class="footer">
    <div class="footer-inner clear">
        <div class="footer-left">
            <div class="footer-lt clear">
                <a href="" class="footer-link <?php if($CONTROLLER_NAME== 'Index') echo 'nav-active';?>">首页</a>
                <a href="/intro" class="footer-link <?php if($CONTROLLER_NAME== 'Intro') echo 'nav-active';?>">企业介绍</a>
                <a href="/project" class="footer-link <?php if($CONTROLLER_NAME== 'Project') echo 'nav-active';?>">项目案例</a>
                <a href="/article" class="footer-link <?php if($CONTROLLER_NAME== 'Article') echo 'nav-active';?>">新闻中心</a>
                <a href="/contact" class="footer-link <?php if($CONTROLLER_NAME== 'Contact') echo 'nav-active';?>">联系我们</a>
            </div>
            <div class="footer-lb">
                <div class="footer-lb-text">客户热线：400--062--6899</div>
                <div class="footer-lb-text">地址：北京市朝阳区东三环北路甲19号嘉盛中心801</div>
                <div class="footer-lb-text">Copyright©2006-2017  中业控股有限责任公司  京ICP备07003840号-2  京ICP证070133号</div>
            </div>
        </div>
        <div class="footer-right clear">
            <div class="footer-rli">
                <img src="/static/home/img/zk-qr-01.png" alt="" class="footer-rli-img">
                <h5 class="footer-rli-text">关注订阅号</h5>
            </div>
            <div class="footer-rli footer-rli2">
                <img src="/static/home/img/zk-qr-02.png" alt="" class="footer-rli-img">
                <h5 class="footer-rli-text">关注服务号</h5>
            </div>
            <div class="footer-rli">
                <img src="/static/home/img/zk-qr-03.png" alt="" class="footer-rli-img">
                <h5 class="footer-rli-text">关注新浪微博</h5>
            </div>
        </div>
    </div>
</div>

</body>
</html>