<div class="header clear">
    <a href="javascript:" class="head-logo">
        <img src="/static/home/img/zk-logo.png" alt="" class="head-logo-img">
    </a>
    <div class="head-nav">
        
        <a href="/" class="nav <?php if($CONTROLLER_NAME== 'Index') echo 'nav-active';?>">首页</a>
        <a href="/intro" class="nav <?php if($CONTROLLER_NAME== 'Intro') echo 'nav-active';?>">企业介绍</a>
        <a href="/project" class="nav <?php if($CONTROLLER_NAME== 'Project') echo 'nav-active';?>">项目案例</a>
        <a href="/article" class="nav <?php if($CONTROLLER_NAME== 'Article') echo 'nav-active';?>">新闻中心</a>
        <a href="/contact" class="nav <?php if($CONTROLLER_NAME== 'Contact') echo 'nav-active';?>">联系我们</a>
    </div>
</div>