/* xinshou regs Act */
.xinshouact
  background url(./../../assets/img/act/xsact/xs-bg-all.png) no-repeat center center
  background-size cover
  padding 30px 15px 60px
.xsact-head-img
  display block
  width 100%
  margin-bottom 40px
.xsact-fm
  background-color $bgFf
  border-radius $borderR5
  height 45px
  line-height 45px
  margin-bottom 10px
  padding-left 45px
  overflow hidden
  .xsact-fm-l
    background-size 60%
.xsact-fm-l
  display inline-block
  width 45px
  height 80%
  position relative
  top 10%
  margin-left -45px
  float left
  border-right 1px solid $colorBor
.xsact-fm-input
  display inline-block
  width 100%
  line-height 45px
  float left
  color $color9
  text-indent 14px
.xsact-fm-l1
  background url(./../../assets/img/act/xsact/xs-icon-01.png) no-repeat center center
.xsact-fm-l2
  background url(./../../assets/img/act/xsact/xs-icon-02.png) no-repeat center center
.xsact-fm-l3
  background url(./../../assets/img/act/xsact/xs-icon-03.png) no-repeat center center
.xsact-fm-btn
  display block
.xsact-fm-btn-img
  display block
  width 100%
.xsact-fm-code
  background-color transparent
  padding 0 150px 0 0
.xsact-fm-code-l
  float left
  width 100%
  height 45px
  background-color $bgFf
  border-radius $borderR5
  overflow hidden
  padding-left 45px
.xsact-fm-code-r
  float left
  width 150px
  padding-left 15px
  margin-right -150px
.xsact-fm-code-btn
  display block
  line-height 45px
  text-align center
  color $bgFf
  background-color $colorBlue
  border-radius $borderR5
.xsact-adv
.xsact-ruler
  background-color $bgFf
  border-radius $borderR5
.xsact-adv
  margin 60px 0
.xsact-ruler
  padding 0 20px 20px
  margin-bottom 30px
.xsact-title
  padding 21px 0 16px
  font-size 16px
  text-align center
.xsact-adv-list
  text-align center
  float left
  width 33.33%
.xsact-adv-list-img
  display block
  width 50px
  margin 0 auto
.xsact-adv-text
  padding 10px 0 20px
  color $color6
  font-size 13px
.xsact-ruler-list
  overflow hidden
  padding-left 24px
  margin-bottom 10px
.xsact-ruler-num
  display inline-block
  float left
  width 15px
  line-height 15px
  border-radius 50%
  background-color #FFDE02
  text-align center
  margin-left -24px
  font-size 13px
  position relative
  top 3px
.xsact-ruler-text
  width 100%
  line-height 20px
