/* PERSONAL
 * #1800408
*/
/* 个人中整体布局、左侧菜单栏公共样式 */
.zy-personal{
    background-color: #F7F7F7;
    padding: 20px 0 100px;
}
.pal-section{
    margin: 0 auto;
    width: 1200px;
}
.pal-aside,
.pal-main{
    box-sizing: border-box;
    float: left;
}
.pal-aside{
    width: 270px;
    margin-right: 20px;
}
.pal-main{
    width: 910px;
    border: 1px solid #E9E5E5;
    min-height: 940px;
    background-color: #fff;
}
.pal-aside-t,
.pal-aside-b{
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    border: 1px solid #E9E5E5;
}
.pal-aside-b{
    height: 600px;
    margin-top: 20px;
    padding: 15px 62px 15px 42px;
}
.pal-aside-t{
    height: 320px;
    padding: 25px 0;
}
.pal-aside-userPic{
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}
.pal-aside-t-tel{
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
}
.pal-aside-t-risk{
    display: block;
    width: 110px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #f52e3e;
    border-radius: 18px;
    font-size: 16px;
    color: #f52e3e;
    margin: 0 auto;
}
.pal-aside-t-auth{
    text-align: center;
    padding: 23px 0 0;
}
.pal-aside-auth-icon{
    display: inline-block;
    width: 39px;
    height: 42px;
}
.pal-aside-auth1{
    background: url(./../img/user/pal-icon-01.png) no-repeat;
}
.pal-aside-auth2{
    background: url(./../img/user/pal-icon-02.png) no-repeat;
    margin: 0 10px;
}
.pal-aside-auth3{
    background: url(./../img/user/pal-icon-03.png) no-repeat;
}
.pal-aside-auth1.pal-aside-icon-authOk{
    background: url(./../img/user/pal-icon-011.png) no-repeat;
}
.pal-aside-auth2.pal-aside-icon-authOk{
    background: url(./../img/user/pal-icon-022.png) no-repeat;
    margin: 0 10px;
}
.pal-aside-auth3.pal-aside-icon-authOk{
    background: url(./../img/user/pal-icon-033.png) no-repeat;
}
.pal-aside-list{
    display: block;
    line-height: 76px;
    border-bottom: 1px solid #E9E5E5;
    font-size: 18px;
}
.pal-aside-list:before{
    content: '';
    display: inline-block;
    float: left;
    width: 60px;
    height: 77px;
    margin-right: 10px;
}
.pal-aside-list-active,
.pal-aside-list:hover{
    color: #f52e3e;
}
/* 默认 */
.pal-aside-list1:before{
    background: url(./../img/user/pal-menu-01.png) no-repeat center center;
}
.pal-aside-list2:before{
    background: url(./../img/user/pal-menu-02.png) no-repeat center center;
}
.pal-aside-list3:before{
    background: url(./../img/user/pal-menu-03.png) no-repeat center center;
}
.pal-aside-list4:before{
    background: url(./../img/user/pal-menu-04.png) no-repeat center center;
}
.pal-aside-list5:before{
    background: url(./../img/user/pal-menu-05.png) no-repeat center center;
}
.pal-aside-list6:before{
    background: url(./../img/user/pal-menu-06.png) no-repeat center center;
}
.pal-aside-list7:before{
    background: url(./../img/user/pal-menu-07.png) no-repeat center center;
}
/* active */
.pal-aside-list1.pal-aside-list-active:before{
    background: url(./../img/user/pal-menu-011.png) no-repeat center center;
}
.pal-aside-list2.pal-aside-list-active:before{
    background: url(./../img/user/pal-menu-022.png) no-repeat center center;
}
.pal-aside-list3.pal-aside-list-active:before{
    background: url(./../img/user/pal-menu-033.png) no-repeat center center;
}
.pal-aside-list4.pal-aside-list-active:before{
    background: url(./../img/user/pal-menu-044.png) no-repeat center center;
}
.pal-aside-list5.pal-aside-list-active:before{
    background: url(./../img/user/pal-menu-055.png) no-repeat center center;
}
.pal-aside-list6.pal-aside-list-active:before{
    background: url(./../img/user/pal-menu-066.png) no-repeat center center;
}
.pal-aside-list7.pal-aside-list-active:before{
    background: url(./../img/user/pal-menu-077.png) no-repeat center center;
}
/* hover */
.pal-aside-list1:hover.pal-aside-list1:before{
    background: url(./../img/user/pal-menu-011.png) no-repeat center center;
}
.pal-aside-list2:hover.pal-aside-list2:before{
    background: url(./../img/user/pal-menu-022.png) no-repeat center center;
}
.pal-aside-list3:hover.pal-aside-list3:before{
    background: url(./../img/user/pal-menu-033.png) no-repeat center center;
}
.pal-aside-list4:hover.pal-aside-list4:before{
    background: url(./../img/user/pal-menu-044.png) no-repeat center center;
}
.pal-aside-list5:hover.pal-aside-list5:before{
    background: url(./../img/user/pal-menu-055.png) no-repeat center center;
}
.pal-aside-list6:hover.pal-aside-list6:before{
    background: url(./../img/user/pal-menu-066.png) no-repeat center center;
}
.pal-aside-list7:hover.pal-aside-list7:before{
    background: url(./../img/user/pal-menu-077.png) no-repeat center center;
}

/* 右侧主体内容区 */
.pal-m11{
    padding: 15px 0;
    border-bottom: 1px solid #E9E5E5;
}
.pal-m11-cont{
    box-sizing: border-box;
    float: left;
    height: 195px;
}
.pal-m11-left{
    width: 442px;
    border-right: 1px solid #E9E5E5;
    text-align: center;
}
.pal-m11-right{
    width: 466px;
}
.pal-m11-left-money{
    line-height: 64px;
    color: #f52e3e;
    font-size: 40px;
    margin-top: 20px;
}
.pal-m11-left-desc{
    color: #999;
}
.pal-m11-left-inner{
    padding-top: 30px;
}
.pal-m11-left-btn{
    box-sizing: border-box;
    display: inline-block;
    width: 110px;
    height: 37px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}
.pal-m11-left-btn1{
    background-color: #f52e3e;
    color: #fff;
    line-height: 37px;
    margin-right: 20px;
}
.pal-m11-left-btn2{
    line-height: 35px;
    border: 1px solid #E5E5E5;
}
.pal-m11-right-t{
    line-height: 67px;
    border-bottom: 1px solid #E5E5E5;
    font-size: 20px;
}
.pal-m11-right-t:before{
    content: '';
    display: inline-block;
    float: left;
    width: 50px;
    height: 67px;
    margin-left: 20px;
    background: url(./../img/user/pal-icon-04.png) no-repeat center center;
}
.pal-m11-rb-left-money{
    font-size: 20px;
    margin: 30px 0 25px;
}
.pal-m11-rb-left .pal-m11-rb-left-money{
    color: #f52e3e;
}
.pal-m11-rb-left-text{
    color: #999;
}
.pal-m11-rb-list{
    float: left;
    width: 50%;
    text-align: center;
}
.pal-m12-title{
    line-height: 67px;
    font-size: 20px;
}
.pal-m12-title:before{
    content: '';
    display: inline-block;
    float: left;
    width: 72px;
    height: 67px;
    background: url(./../img/user/pal-icon-05.png) no-repeat center center;
}
.pal-m12-outer{
    padding: 0 30px 30px;
    border-bottom: 1px solid #E5E5E5;
}
.pal-m12-cont{
    float: left;
}
.pal-m12-l{
    box-sizing: border-box;
    width: 412px;
    height: 195px;
    padding: 25px 0 0;
    background-color: #F8FBFF;
}
.pal-m12-r{
    width: 436px;
    height: 195px;
}
.pal-m12-list{
    float: left;
    width: 50%;
    text-align: center;
    margin: 0 0 25px;
}
.pal-m12-num{
    font-size: 20px;
    line-height: 40px;
}
.pal-m12-text{
    color: #999;
}
.pal-m13-header{
    padding-left: 37px;
    border-bottom: 1px solid #E5E5E5;
}
.pal-m13-h-tab{
    box-sizing: border-box;
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
    line-height: 62px;
}
.pal-m13-h-tab1{
    margin-right: 40px;
}
.pal-m13-h-active{
    color: #f52e3e;
    border-bottom: 2px solid #f52e3e;
}
.pal-m13-body{
    padding: 30px 37px;
}
.pal-m13-table{
    width: 100%;
    border: 1px solid #E5E5E5;
}
.pal-m13-table th{
    line-height: 56px;
    background-color: #F8FBFF;
    font-size: 16px;
}
.pal-m13-table td{
    color: #666;
}
.pal-m13-table tbody tr{
    line-height: 48px;
    border-top: 1px solid #E5E5E5;
}
.pal-m13-table tbody tr:nth-child(2n){
    background-color: #F8FBFF;
}
.pal-m13-table-outer{
    display: none;
}
.pal-m13-table-outer:first-child{
    display: block;
}

/* 投资管理 */
.pal-m3{
    padding: 10px 30px;
}
.pal-main-title{
    line-height: 1;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 30px;
    font-size: 20px;
    padding: 28px 0 22px;
}
.pal-m3-tables{
    width: 100%;
    border: 1px solid #E0E0E0;
}
.pal-m3-tables th{
    line-height: 56px;
    background-color: #F8FBFF;
    font-size: 16px;
}
.pal-m3-tables tbody td{
    padding: 12px 0;
    line-height: 25px;
    border-top: 1px solid #E0E0E0;
}
.pal-m3-tables tbody tr:nth-child(2n){
    background-color: #F8FBFF;
}
.pal-m3-tables td{
    color: #666;
}
.pal-table-color-blue{
    color: #5e85ff;
}
.pal-table-color-red{
    color: #f52e3e;
}

/* 资金管理 */
.pal-m2{
    padding: 10px 16px;
}
.pal-m2-title{
    margin: 0 14px 30px;
}
.pal-m2-tables tbody td{
    line-height: 25px;
    padding: 12px 0;
}
.pal-m2-filter{
    padding: 0 16px 30px;
}
.pal-m2-fl-type{
    color: #666;
    margin-right: 10px;
    float: left;
}
.pal-m2-fl-select{
    width: 106px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #e5e5e5;
    color: #666;
}
.pal-m2-fl{
    float: left;
    line-height: 30px;
}
.pal-m2-fr{
    float: right;
    line-height: 30px;
}
.pal-m2-fl-date{
    float: left;
    vertical-align: middle;
    height: 28px;
    line-height: 28px;
    border: 1px solid #e5e5e5;
}
.pal-m2-fl-export{
    color: #008bff;
}
.pal-m2-fl-export:before{
    content: '';
    display: inline-block;
    width: 35px;
    height: 30px;
    float: left;
    margin-left: 20px;
    background: url(./../img/user/user-icon-ex.png) no-repeat center center;
}


/* 充值、提现 */
.pal-money-header{
    margin: 0 38px;
    border-bottom: 1px solid #e5e5e5;
}
.pal-mh-tabs{
    box-sizing: border-box;
    display: inline-block;
    line-height: 1;
    font-size: 20px;
    padding: 36px 0 20px;
    float: left;
}
.pal-mh-tabs-active{
    color: #f52e3e;
    border-bottom: 2px solid #f52e3e;
}
.pal-mh-tabs1{
    margin-right: 40px;
}
.pal-mb-hintImg{
    vertical-align: middle;
}
.pal-money-body{
    padding: 30px 50px;
}
.pal-mb-top{
    padding: 20px 15px;
    background-color: #F8FBFF;
    line-height: 2;
    color: #999;
}
.pal-money-blue{
    color: #008bff;
}
.pal-money-red{
    color: #f52e3e;
}
.pal-mb-bottom{
    padding: 30px 0;
}
.pal-mb-list{
    height: 70px;
    line-height: 70px;
    color: #666;
}
.pal-mb-left,
.pal-mb-right{
    box-sizing: border-box;
    width: 50%;
    float: left;
}
.pal-mb-left{
    text-align: right;
    padding-right: 10px;
}
.pal-mb-right{
    padding-left: 10px;
}
.pal-mb-input{
    width: 236px;
    height: 48px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin-right: 20px;
    text-indent: 15px;
}
.pal-mb-pay{
    display: inline-block;
    width: 125px;
    line-height: 48px;
    background-color: #F1F9FF;
    border: 1px solid #008BFF;
    color: #008BFF;
    text-align: center;
    border-radius: 7px;
    position: relative;
}
.pal-mb-pay:after{
    content: '';
    display: inline-block;
    width: 21px;
    height: 22px;
    background: url(./../img/user/user-icon-selected.png) no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
}
.pal-mb-btn{
    display: inline-block;
    width: 188px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 16px;
    background-color: #F8323A;
    text-align: center;
    border-radius: 5px;
}
.pal-mb-header{
    height: 30px;
    line-height: 30px;
    padding: 0 0 20px;
}
.pal-mb-type{
    color: #666;
    float: left;
}
.pal-mb-date-input{
    line-height: 28px;
    border: 1px solid #e5e5e5;
    margin: 0 20px 0 5px;
    float: left;
}
.pal-mb-look{
    display: inline-block;
    float: left;
    color: #008bff;
}
.pal-mb-look:before{
    content: '';
    display: inline-block;
    width: 34px;
    height: 30px;
    margin-right: 5px;
    float: left;
    background: url(./../img/user/user-icon-look.png) no-repeat center center;
}
.pal-mbt-list{
    line-height: 70px;
}
.pal-mbtx-list{
    line-height: 36px;
}
.pal-mbt-left,
.pal-mbt-right{
    box-sizing: border-box;
    float: left;
    color: #666;
}

.pal-mbt-left{
    width: 30%;
    text-align: right;
    padding-right: 10px;
}
.pal-mbt-right{
    width: 70%;
    padding-left: 10px;
}
.pal-mb-input-text{
    line-height: 30px;
    color: #999;
    margin-bottom: 40px;
}
.pal-mb-hintImg{
    width: 3%;
    float: left;
}
.pal-mb-hintText{
    width: 97%;
    float: left;
}
.pal-mb-hintImg img{
    vertical-align: middle;
}
.pal-mb{
    display: none;
}
.pal-mb1{
    display: block;
}

/* 个人资料 */
.pal-m5-title{
    font-size: 20px;
    line-height: 1;
    padding: 36px 0 20px;
    margin: 0 38px;
    border-bottom: 1px solid #e5e5e5;
}
.pal-m5-body{
    padding: 30px 0;
    margin: 0 46px;
}
.pal-m5b-outer{
    background-color: #F8FBFF;
    padding: 0 25px;
    margin-bottom: 20px;
}
.pal-m5b-list{
    box-sizing: border-box;
    padding: 40px 0;
}
.pal-m5b-l{
    float: left;
    width: 62px;
}
.pal-m5bl-img{
    display: block;
}
.pal-m5b-m{
    box-sizing: border-box;
    float: left;
    width: 430px;
    padding-left: 30px;
}
.pal-m5bm-title{
    font-size: 18px;
    line-height: 1;
    margin: 5px 0 15px;
}
.pal-m5bm-text{
    color: #999;
}
.pal-m5b-r{
    line-height: 62px;
}
.pal-m5br-sts{
    display: inline-block;
    height: 20px;
    line-height: 20px;
}
.pal-m5br-sts:before{
    content: '';
    display: inline-block;
    width: 40px;
    height: 20px;
    float: left;
}
.pal-m5br-ok{
    color: #008bff;
}
.pal-m5br-not:before{
    background: url(./../img/user/user-zl-not.png) no-repeat center center;
}
.pal-m5br-ok:before{
    background: url(./../img/user/user-zl-ok.png) no-repeat center center;
}
.pal-m5br-btn{
    display: inline-block;
    width: 110px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-radius: 5px;
    margin-left: 35px;
}
.pal-m5br-btn-not{
    border: 1px solid #f52e3e;
    color: #f52e3e;
}
.pal-m5br-btn-ok{
    border: 1px solid #e5e5e5;
    font-size: 16px;
}
.pal-m5br-btn-ok:before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 42px;
    float: right;
    background: url(./../img/user/user-zl-down.png) no-repeat center center;
    position: relative;
    right: 25px;
}
.pal-m5b-down-box{
    border-top: 1px solid #e5e5e5;
    padding: 30px 0;
}
.pal-m5b-dt-list{
    line-height: 46px;
    color: #666;
    margin-bottom: 20px;
}
.pal-m5b-dt-l,
.pal-m5b-dt-r{
    box-sizing: border-box;
    float: left;
}
.pal-m5b-dt-l{
    width: 40%;
    font-size: 16px;
    text-align: right;
    padding-right: 10px;
}
.pal-m5b-dt-r{
    width: 60%;
    padding-left: 10px;
}
.pal-m5b-detail-ts{
    text-align: center;
    color: #999;
    line-height: 60px;
}
.pal-m5b-detail-not .pal-m5b-dt-list{
    line-height: 50px;
}
.pal-m5b-detail-not .pal-m5b-dt-list:last-child{
    margin-top: 30px;
}
.pal-m5b-detail-not .pal-m5b-dt-l{
    width: 30%;
    line-height: 50px;
}
.pal-m5b-detail-not .pal-m5b-dt-r{
    width: 70%;
    height: 50px;
    line-height: 50px;
}
.pal-m5b-dt-input{
    box-sizing: border-box;
    width: 364px;
    height: 50px;
    border: 1px solid #e5e5e5;
    background-color: #F8FBFF;
    color: #999;
    text-indent: 18px;
    border-radius: 5px;
}
.pal-m5b-dt-btn{
    display: inline-block;
    line-height: 36px;
    width: 188px;
    text-align: center;
    color: #fff;
    background-color: #f52e3e;
    border-radius: 5px;
}
.pal-m5b-dt-text{
    text-indent: 18px;
}
.pal-m5b-dt-code{
    width: 172px;
}
.pal-m5b-dt-btnCode{
    display: inline-block;
    width: 172px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: #008BFF;
    border-radius: 5px;
    margin-left: 15px;
}
.pal-m5b-dt-select{
    height: 50px;
    line-height: 50px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    color: #666;
    text-indent: 13px;
    background-color: #F8FBFF;
}
.pal-m5b-dt-select-lg{
    width: 364px;
}
.pal-m5b-dt-select-sm{
    width: 120px;
}
.pal-m5b-dt-rs{
    margin-left: 35px;
    font-size: 16px;
}
.pal-m5b-detail-bank{
    width: 438px;
    height: 231px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 28px;
    overflow: hidden;
    background: url(./../img/user/user-zl-bg-bank.png) no-repeat;
}
.pal-m5b-detail-bankName{
    margin: 60px 0 40px;
}
.pal-m5b-down-box{
    display: none;
}

/* 卡劵 */
.pal-m4{
    padding: 0 36px;
}
.pal-m4-title{
    line-height: 1;
    padding: 38px 0 30px;
    font-size: 20px;
}
.pal-m4-class{
    height: 56px;
}
.pal-m4-type{
    line-height: 1;
    margin-right: 36px;
    font-size: 16px;
    float: left;
}
.pal-m4-type-active{
    color: #f52e3e;
    position: relative;
}
.pal-m4-type-active:after{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(./../img/user/user-card-icon-01.png) no-repeat;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -5px;
}
.pal-m4b-list{
    box-sizing: border-box;
    width: 272px;
    height: 230px;
    padding: 0 20px;
    color: #fff;
    overflow: hidden;
    float: left;
    margin: 0 10px 10px 0;
}
.pal-m4b-list:nth-child(3n){
    margin-right: 0;
}
.pal-m4b-list5{
    color: #999;
}
.pal-m4b-list1{
    background: url(./../img/user/user-card-bg-01.png) no-repeat -2px -5px;
}
.pal-m4b-list2{
    background: url(./../img/user/user-card-bg-02.png) no-repeat -2px -5px;
}
.pal-m4b-list3{
    background: url(./../img/user/user-card-bg-03.png) no-repeat -2px -5px;
}
.pal-m4b-list4{
    background: url(./../img/user/user-card-bg-04.png) no-repeat -2px -5px;
}
.pal-m4b-list5{
    background: url(./../img/user/user-card-bg-05.png) no-repeat -2px -5px;
}
.pal-m4bl-t{
    line-height: 1;
    margin-top: 44px;
}
.pal-m4bl-t-num{
    font-size: 26px;
}
.pal-m4bl-t-font{
    font-size: 16px;
}
.pal-m4bl-type{
    float: right;
    margin-top: 9px;
}
.pal-m4bl-m{
    margin-top: 30px;
}
.pal-m4bl-ml{
    width: 72px;
    float: left;
}
.pal-m4bl-mr{
    width: 160px;
    float: left;
}
.pal-m4bl-btn{
    display: block;
    line-height: 44px;
    margin-top: 21px;
    text-align: center;
    font-size: 16px;
    color: #f52e3e;
}
.pal-m4b-list5 .pal-m4bl-btn{
    color: #999;
}
.pal-m4b{
    display: none;
}
.pal-m4b:first-child{
    display: block;
}


/* 还款管理 */
.pal-m4h-title{
    line-height: 1;
    font-size: 20px;
    padding: 28px 0 20px;
}
.pal-m4h-tab{
    display: inline-block;
    float: left;
    margin-right: 40px;
    font-size: 20px;
    color: #666;
    padding: 28px 0 20px;
}
.pal-m4h-inner{
    border-bottom: 1px solid #e5e5e5;
}
.pal-m4h-tab-active{
    color: #f52e3e;
    border-bottom: 2px solid #f52e3e;
}
.pal-m6b-filter{
    height: 30px;
    line-height: 30px;
    color: #666;
    padding: 20px 0;
}
.pal-m6b-f-text{
    float: left;
    color: #666;
}
.pal-m6b-f-date{
    border: 1px solid #e5e5e5;
    height: 28px;
    float: left;
}
.pal-m6b-f-look{
    color: #008bff;
    float: left;
}
.pal-m6b-f-look:before{
    content: '';
    display: inline-block;
    width: 34px;
    height: 30px;
    float: left;
    margin-left: 10px;
    background: url(./../img/user/user-icon-look.png) no-repeat center center;
}
.pal-m6b{
    display: none;
}
.pal-m6b:first-child{
    display: block;
}










