{include file="/public/_head" /}

    <title>企业介绍</title>
</head>
<body>

{include file="/public/_header" /}

<div class="intro-main">
    <div class="intro-banner"></div>
    <div class="intro-outer">
        <div class="intro-head">
            <div class="intro-head-inner clear">
                <a href="javascript:" class="intro-nav intro-nav-active">公司介绍</a>
                <a href="javascript:" class="intro-nav">董事长简介</a>
                <a href="javascript:" class="intro-nav">企业文化</a>
                <a href="javascript:" class="intro-nav">发展历程</a>
                <a href="javascript:" class="intro-nav">公司荣誉</a>
                <a href="javascript:" class="intro-nav">社会责任</a>
            </div>
        </div>
        <div class="intro-body">
            <div class="intro-b intro-b1">
                <div class="intro-b1t clear">
                    <div class="intro-b1t-l">
                        <h2 class="intro-b2-title intro-b1t-l-title">关于我们</h2>
                        <div class="intro-b1t-text">
                            中业恒通控股（北京）有限公司【以下简称中业控股】，总部位于北京CBD核心区域。 <br>
                            <br>
                            中业控股始终以全面风险管理体系作为发展基础，为企业及个人提供多元化、专业化的金融服务。通过丰富的资本市场运作经验、先进的管理模式，致力于为广大投资者提供股权投资基金、政府产业基金、并购基金等高品质金融产品服务，为客户提供多样化资产配置策略，为投资者实现财富保值增值，为用户创造最大价值，进而提升用户专业化金融知识，共享股权投资市场红利。<br>
                            <br>
                            中业控股立足北京，辐射全国，接轨世界。其秉承“诚信、共赢、创新、专业、细节、执行、使命、突破、合作、学习”核心价值理念，坚持以“客户至上”作为企业的服务精神，致力于为客户提供切合自身的财富管理服务，旨在打造成为国内专业、安全、高效的投资者首选金融服务平台 。<br>
                        </div>
                    </div>
                    <div class="intro-b1t-r">
                        <img src="/static/home/img/intro-img-03.png" alt="" class="intro-b1t-r-img">
                    </div>
                </div>
                <div class="intro-b1b">
                    <img class="intro-b1b-img" src="/static/home/img/intro-img-05.jpg" alt="">
                </div>
            </div>
            <div class="intro-b intro-b2">
                <div class="intro-b2-warp">
                    <h2 class="intro-b2-title">中业控股创始人兼CEO — 李行亮</h2>
                    <div class="intro-b2-ceo clear">
                        <!-- <img src="/static/home/img/intro-img-ceo.png" alt="" class="intro-b2-ceo-l"> -->
                        <div class="intro-b2-ceo-r">
                            <h3 class="intro-b2-warp-name">李行亮</h3>
                            <div class="intro-b2-post-outer">
                                <div class="intro-b2-post-li clear">
                                    <div class="intro-b2-post-l">中业恒通控股（北京）有限公司</div>
                                    <div class="intro-b2-post-r">董事长</div>
                                </div>
                                <div class="intro-b2-post-li clear">
                                    <div class="intro-b2-post-l">北京信用协会</div>
                                    <div class="intro-b2-post-r">理事</div>
                                </div>
                                <div class="intro-b2-post-li clear">
                                    <div class="intro-b2-post-l">上海金融信息行业协会</div>
                                    <div class="intro-b2-post-r">会员</div>
                                </div>
                                <div class="intro-b2-post-li clear">
                                    <div class="intro-b2-post-l">黑龙江省青年企业家商会</div>
                                    <div class="intro-b2-post-r">副会长</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro-b2-warp">
                    <h2 class="intro-b2-title">人物经历</h2>
                    <div class="intro-b2-desc">经过近20年的努力与拼搏，目前产业已在北京及东北区域成功布局，主要涉及餐饮、汽车、金融等多个业务版块，其中：</div>
                    <div class="intro-b2-detail">
                        <div class="intro-b2-detail-li">2000 年，创建禾喜餐饮管理有限公司（前身），截至当前已在全国创建“小城故事”、“船长码头餐饮有限公司”等6大品牌、20余家直营店，且禾喜现已发展成为集餐饮、酒店、旅游、农业等于一体的知名餐饮连锁品牌；</div>
                        <div class="intro-b2-detail-li">2012年创立银通担保投资管理有限公司，主营业务涉及信誉担保、合同履约担保、房屋置业担保三大领域；</div>
                        <div class="intro-b2-detail-li">2014年，创建金通汽车销售管理有限公司，凭借良好的业内信誉和市场口碑，使其在市场迅速站稳脚跟，为公司汽车产业版块发展打下坚实的基础；</div>
                        <div class="intro-b2-detail-li">2015年创建黑龙江民族国际旅行社有限公司，重点打造文化旅游产业，通过人文资源发展当地旅游产业，使旅游者获得富有文化内涵和深度参与的旅游体验服务。</div>
                        <div class="intro-b2-detail-li">2015年，创建了中业恒通控股（北京）有限公司，旗下拥有中业银通投资管理（北京）有限公司、中业金控投资基金（北京）有限公司、中业银通信息咨询服务（北京）有限公司、中业普惠金融服务（外包）有限公司四家专业服务机构。</div>
                        <div class="intro-b2-detail-li">2018年建立中业在线互金平台，主要以互联网技术为基础的现代信息科技，借助大数据运用，为客户提供一体多样化的金融服务。</div>
                    </div>
                </div>
            </div>
            <div class="intro-b intro-b6">
                <div class="intro-b6-f intro-b6-f1">
                    <div class="intro-b6-inner intro-b6-inner1 clear">
                        <div class="intro-b6f1-l">
                            <h2 class="intro-b2-title">企业slogan</h2>
                            <h3 class="intro-b6f1-sub">中兴于诚、业兴于信</h3>
                            <div class="intro-b6f1-desc">
                                “人无信则不立、事无信则不成、业无信则不兴”，源于《论语.颜渊》篇。中业创建伊始，就始终坚定“诚信”作为企业发展的重要基石和保障。每一位中业人坚信：诚信是修身之本、是齐家之道、是为政之法，更是兴业之源！
                            </div>
                        </div>
                        <div class="intro-b6f1-r">
                            <img src="/static/home/img/intro-wh-01.png" alt="" class="intro-b6f1-r-img">
                        </div>
                    </div>
                </div>
                <div class="intro-b6-f intro-b6-f2">
                    <h2 class="intro-b6-title">企业价值观</h2>
                    <img class="intro-b6-f2-img" src="/static/home/img/intro-wh-02.png" alt="">
                </div>
                <div class="intro-b6-f intro-b6-f3">
                    <div class="intro-b6-inner intro-b6-inner3">
                        <h2 class="intro-b6-title">中业发展八大理念</h2>
                        <div class="intro-b6f3-list clear">
                            <div class="intro-b6f3-li intro-b6f3-li1">
                                <img src="/static/home/img/intro-icon-01.png" alt="" class="intro-b6f3-li-icon">
                                <h3 class="intro-b6f3-li-title">创新金融</h3>
                                <div class="intro-b6f3-li-desc">秉承“产融结合、金融+”的发展理念，立足金融服务，推动金融创新</div>
                            </div>
                            <div class="intro-b6f3-li">
                                <img src="/static/home/img/intro-icon-02.png" alt="" class="intro-b6f3-li-icon">
                                <h3 class="intro-b6f3-li-title">服务客户</h3>
                                <div class="intro-b6f3-li-desc">积极主动，认真负责，为优质中小微企业提供专业的金融服务</div>
                            </div>
                            <div class="intro-b6f3-li">
                                <img src="/static/home/img/intro-icon-03.png" alt="" class="intro-b6f3-li-icon">
                                <h3 class="intro-b6f3-li-title">责任担当</h3>
                                <div class="intro-b6f3-li-desc">借力行业趋势，发挥自身优势，推动金融创新，规范民间借贷秩序，助力中小微企业发展</div>
                            </div>
                            <div class="intro-b6f3-li">
                                <img src="/static/home/img/intro-icon-04.png" alt="" class="intro-b6f3-li-icon">
                                <h3 class="intro-b6f3-li-title">工作标准</h3>
                                <div class="intro-b6f3-li-desc">用最积极的工作态度，最迅速的工作效率，最专业的工作能力，创造最卓越的工作价值</div>
                            </div>
                            <div class="intro-b6f3-li intro-b6f3-li5">
                                <img src="/static/home/img/intro-icon-05.png" alt="" class="intro-b6f3-li-icon">
                                <h3 class="intro-b6f3-li-title">团队精神</h3>
                                <div class="intro-b6f3-li-desc">诚信为本、求实创新、团结拼搏、用心服务</div>
                            </div>
                            <div class="intro-b6f3-li">
                                <img src="/static/home/img/intro-icon-06.png" alt="" class="intro-b6f3-li-icon">
                                <h3 class="intro-b6f3-li-title">自我挑战</h3>
                                <div class="intro-b6f3-li-desc">不断突破，超越自我，追求卓越。每一个为用户解决问题的过程，都是一次全新的自我挑战</div>
                            </div>
                            <div class="intro-b6f3-li">
                                <img src="/static/home/img/intro-icon-07.png" alt="" class="intro-b6f3-li-icon">
                                <h3 class="intro-b6f3-li-title">共同成长</h3>
                                <div class="intro-b6f3-li-desc">不断学习始终是中业坚持的价值理念。善于学习，才能不断进步，员工及企业才能在竞争中立于不败之地</div>
                            </div>
                            <div class="intro-b6f3-li">
                                <img src="/static/home/img/intro-icon-08.png" alt="" class="intro-b6f3-li-icon">
                                <h3 class="intro-b6f3-li-title">天道酬勤</h3>
                                <div class="intro-b6f3-li-desc">中业始终坚信，“勤能补拙是良训，一分耕耘一分才”。勤奋，是成功路上不可或缺的重要伙伴</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-b intro-b3">
                <img src="/static/home/img/intro-img-01.jpg" alt="" class="intro-b3-img">
            </div>
            <div class="intro-b intro-b4"></div>
            <div class="intro-b intro-b5">
                <div class="intro-b5-inner clear">
                    <div class="intro-b5l">
                        <h2 class="intro-b2-title intro-b5l-title">社会责任</h2>
                        <div class="intro-b5-detail">
                            企业承担社会责任，这是企业实现其社会价值的组织作用，主动积极地承担社会责任，将促进企业的可持续发展，社会为其发展提供了生存空间;企业来自于社会，也必将还原于社会，企业与社会是一种共存共荣的关系，正是在这个意义上，我们说，企业本质上是社会性的组织。他在追求自身利益的同时，必须重视社会利益，承担对社会负有的责任。毫无疑问，公益活动事业的参与对民营企业自身的发展有着积极的影响。
                        </div>
                    </div>
                    <div class="intro-b5r">
                        <img class="intro-b5r-img" src="/static/home/img/intro-img-02.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="/public/_footer" /}

<script src="/static/home/js/jquery.min.js"></script>
<script>
    $(function () {
        $('.intro-nav').on('click', function () {
            var index = $(this).index()
            $(this).addClass('intro-nav-active').siblings().removeClass('intro-nav-active')
            if(index==4){
                return
            }
            $('.intro-b').eq(index).fadeIn().siblings().fadeOut(0)
        })
    })
</script>