body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1845px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1746px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u825 {
  position:absolute;
  left:99px;
  top:0px;
  width:1746px;
  height:510px;
}
#u826 {
  position:absolute;
  left:2px;
  top:247px;
  width:1742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:444px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u827 {
  position:absolute;
  left:99px;
  top:0px;
  width:202px;
  height:444px;
}
#u828 {
  position:absolute;
  left:2px;
  top:214px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1545px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u829 {
  position:absolute;
  left:300px;
  top:0px;
  width:1545px;
  height:30px;
}
#u830 {
  position:absolute;
  left:2px;
  top:7px;
  width:1541px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1545px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u831 {
  position:absolute;
  left:300px;
  top:29px;
  width:1545px;
  height:30px;
}
#u832 {
  position:absolute;
  left:2px;
  top:7px;
  width:1541px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u833 {
  position:absolute;
  left:325px;
  top:36px;
  width:37px;
  height:16px;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835 {
  position:absolute;
  left:399px;
  top:36px;
  width:29px;
  height:16px;
}
#u836 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u837 {
  position:absolute;
  left:469px;
  top:36px;
  width:29px;
  height:16px;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u839 {
  position:absolute;
  left:300px;
  top:58px;
  width:1550px;
  height:101px;
}
#u840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u841 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u842 {
  position:absolute;
  left:74px;
  top:0px;
  width:75px;
  height:36px;
}
#u843 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:36px;
}
#u844 {
  position:absolute;
  left:149px;
  top:0px;
  width:415px;
  height:36px;
}
#u845 {
  position:absolute;
  left:2px;
  top:10px;
  width:411px;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:36px;
}
#u846 {
  position:absolute;
  left:564px;
  top:0px;
  width:415px;
  height:36px;
}
#u847 {
  position:absolute;
  left:2px;
  top:10px;
  width:411px;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:36px;
}
#u848 {
  position:absolute;
  left:979px;
  top:0px;
  width:566px;
  height:36px;
}
#u849 {
  position:absolute;
  left:2px;
  top:10px;
  width:562px;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u850 {
  position:absolute;
  left:0px;
  top:36px;
  width:74px;
  height:30px;
}
#u851 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u852 {
  position:absolute;
  left:74px;
  top:36px;
  width:75px;
  height:30px;
}
#u853 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:30px;
}
#u854 {
  position:absolute;
  left:149px;
  top:36px;
  width:415px;
  height:30px;
}
#u855 {
  position:absolute;
  left:2px;
  top:7px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:30px;
}
#u856 {
  position:absolute;
  left:564px;
  top:36px;
  width:415px;
  height:30px;
}
#u857 {
  position:absolute;
  left:2px;
  top:7px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:30px;
}
#u858 {
  position:absolute;
  left:979px;
  top:36px;
  width:566px;
  height:30px;
}
#u859 {
  position:absolute;
  left:2px;
  top:7px;
  width:562px;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u860 {
  position:absolute;
  left:0px;
  top:66px;
  width:74px;
  height:30px;
}
#u861 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u862 {
  position:absolute;
  left:74px;
  top:66px;
  width:75px;
  height:30px;
}
#u863 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:30px;
}
#u864 {
  position:absolute;
  left:149px;
  top:66px;
  width:415px;
  height:30px;
}
#u865 {
  position:absolute;
  left:2px;
  top:7px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:30px;
}
#u866 {
  position:absolute;
  left:564px;
  top:66px;
  width:415px;
  height:30px;
}
#u867 {
  position:absolute;
  left:2px;
  top:7px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:30px;
}
#u868 {
  position:absolute;
  left:979px;
  top:66px;
  width:566px;
  height:30px;
}
#u869 {
  position:absolute;
  left:2px;
  top:7px;
  width:562px;
  word-wrap:break-word;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  position:absolute;
  left:99px;
  top:595px;
  width:300px;
  height:175px;
}
#u871 {
  position:absolute;
  left:2px;
  top:80px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u872 {
  position:absolute;
  left:392px;
  top:588px;
  width:15px;
  height:15px;
}
#u873 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u874 {
  position:absolute;
  left:99px;
  top:547px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u876 {
  position:absolute;
  left:129px;
  top:628px;
  width:43px;
  height:16px;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u878 {
  position:absolute;
  left:211px;
  top:622px;
  width:139px;
  height:22px;
}
#u878_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u878_input:disabled {
  color:grayText;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u879 {
  position:absolute;
  left:122px;
  top:671px;
  width:57px;
  height:16px;
}
#u880 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u881 {
  position:absolute;
  left:211px;
  top:667px;
  width:139px;
  height:25px;
}
#u881_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u882 {
  position:absolute;
  left:199px;
  top:732px;
  width:100px;
  height:25px;
}
#u882_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u884 {
  position:absolute;
  left:99px;
  top:0px;
  width:202px;
  height:510px;
}
#u884_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:208px;
  height:516px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:515px;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
  color:#FFFFFF;
}
#u887 {
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u888 {
  position:absolute;
  left:0px;
  top:30px;
  width:202px;
  height:30px;
}
#u889 {
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u890 {
  position:absolute;
  left:0px;
  top:60px;
  width:202px;
  height:30px;
}
#u891 {
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u892 {
  position:absolute;
  left:0px;
  top:90px;
  width:202px;
  height:30px;
  color:#FFFFFF;
}
#u893 {
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u894 {
  position:absolute;
  left:0px;
  top:120px;
  width:202px;
  height:30px;
}
#u895 {
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u896 {
  position:absolute;
  left:0px;
  top:150px;
  width:202px;
  height:30px;
}
#u897 {
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u898 {
  position:absolute;
  left:0px;
  top:180px;
  width:202px;
  height:30px;
}
#u899 {
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u900 {
  position:absolute;
  left:0px;
  top:210px;
  width:202px;
  height:30px;
}
#u901 {
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u902 {
  position:absolute;
  left:0px;
  top:240px;
  width:202px;
  height:30px;
}
#u903 {
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u904 {
  position:absolute;
  left:0px;
  top:270px;
  width:202px;
  height:30px;
}
#u905 {
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u906 {
  position:absolute;
  left:0px;
  top:300px;
  width:202px;
  height:30px;
}
#u907 {
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u908 {
  position:absolute;
  left:0px;
  top:330px;
  width:202px;
  height:30px;
}
#u909 {
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u910 {
  position:absolute;
  left:0px;
  top:360px;
  width:202px;
  height:30px;
  color:#FFFFFF;
}
#u911 {
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u912 {
  position:absolute;
  left:0px;
  top:390px;
  width:202px;
  height:30px;
}
#u913 {
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u914 {
  position:absolute;
  left:0px;
  top:420px;
  width:202px;
  height:30px;
  color:#FFFFFF;
}
#u915 {
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u916 {
  position:absolute;
  left:0px;
  top:450px;
  width:202px;
  height:30px;
}
#u917 {
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u918 {
  position:absolute;
  left:0px;
  top:480px;
  width:202px;
  height:30px;
}
#u919 {
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u920 {
  position:absolute;
  left:202px;
  top:120px;
  width:101px;
  height:90px;
  visibility:hidden;
}
#u920_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:107px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:95px;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u923 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u924 {
  position:absolute;
  left:0px;
  top:30px;
  width:101px;
  height:30px;
}
#u925 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u926 {
  position:absolute;
  left:0px;
  top:60px;
  width:101px;
  height:30px;
}
#u927 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u928 {
  position:absolute;
  left:202px;
  top:180px;
  width:101px;
  height:60px;
  visibility:hidden;
}
#u928_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:107px;
  height:66px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:65px;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u931 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u932 {
  position:absolute;
  left:0px;
  top:30px;
  width:101px;
  height:30px;
}
#u933 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u934 {
  position:absolute;
  left:345px;
  top:4px;
  width:137px;
  height:22px;
}
#u934_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u934_input:disabled {
  color:grayText;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u935 {
  position:absolute;
  left:492px;
  top:7px;
  width:43px;
  height:16px;
}
#u936 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u937 {
  position:absolute;
  left:573px;
  top:4px;
  width:137px;
  height:22px;
}
#u937_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u937_input:disabled {
  color:grayText;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u938 {
  position:absolute;
  left:720px;
  top:7px;
  width:57px;
  height:16px;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u940 {
  position:absolute;
  left:859px;
  top:3px;
  width:55px;
  height:25px;
}
#u940_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u941 {
  position:absolute;
  left:542px;
  top:36px;
  width:29px;
  height:16px;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
