.ad-container{
    width: 1920px;
    background: url(./../img/ad-bg.png) no-repeat;
    background-size: cover;
    height: 1080px;
}
.ad-header{
    box-sizing: border-box;
    height: 80px;
    padding: 15px 0 0;
}
.ad-header img{
    display: block;
    margin: 0 auto;
}
.ad-body{
    padding: 0 20px 20px;
}
.ad-cont{
    box-sizing: border-box;
    float: left;
<<<<<<< HEAD:1228-cohd/chart/css/index.css
    height: 1080px;
=======
>>>>>>> a19f00e4d4012cbe8939aee8998c6b4512090987:1228-cohd/admin/css/index.css
    border: 1px solid #253354;
}
.ad-cont1,
.ad-cont3{
    width: 430px;
}
.ad-cont1{
    background-color: #19233D;
}
.ad-cont2{
    width: 980px;
    margin: 0 20px;
}
.ad-body-title img{
    display: block;
    margin: 0 auto;
}
.ad-body-11{
    padding: 25px 0;
    background-color: rgba(28,46,79,.3);
}
.ad-body11-list{
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding-left: 18px;
    border-left: 1px dashed #1C475F;
    color: #80D7FF;
}
.ad-body11-list:first-child{
    border-left: none;
}
.ad-body11-list h3{
    font-size: 18px;
    height: 30px;
    line-height: 30px;
}
.ad-body11-list p{
    height: 20px;
    line-height: 20px;
}
.ad-body-12-h{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #80D7FF;
    padding-left: 20px;
}
.ad-body-12-l{
<<<<<<< HEAD:1228-cohd/chart/css/index.css
    width: 288px;
=======
    float: left;
    width: 290px;
>>>>>>> a19f00e4d4012cbe8939aee8998c6b4512090987:1228-cohd/admin/css/index.css
    height: 300px;
    float: left;
}
.ad-body-12-rc{
    width: 140px;
    height: 150px;
    float: left;
}
<<<<<<< HEAD:1228-cohd/chart/css/index.css


=======
.ad-body-12-r{
    float: left;
    width: 138px;
    height: 300px;
}
.ad-body-12-chart1{
    width: 138px;
    height: 160px;
}
.ad-body-12-chart2{
    width: 138px;
    height: 140px;
}
>>>>>>> a19f00e4d4012cbe8939aee8998c6b4512090987:1228-cohd/admin/css/index.css















