.paddingB
  padding-bottom 80px



.home-head
  position relative
.home-top
  width 100%
  height 35px
  line-height 35px
  position absolute
  top 15px
  padding-left 80px
  padding-right 60px
.home-top-site
  width 65px
  line-height 35px
  float left
  margin-left -65px
  color #fff
  &:before
    content ''
    display inline-block
    width 20px
    height 35px
    float left
    background url(./../../assets/img/home/home-icon-site.png) no-repeat left center
    background-size 80%
.home-top-int
  width 100%
  float left
  position relative
  overflow hidden
  border-radius 18px
.home-top-qr
  width 45px
  height 35px
  float left
  margin-right -45px
  background url(./../../assets/img/home/home-qr.png) no-repeat right center
  background-size 50%
.home-top-int-icon
  width 17px
  height 17px
  position absolute
  top 9px
  left 9px
  background url(./../../assets/img/home/home-icon-search.png) no-repeat center center
  background-size 100%
.home-top-input
  width 100%
  height 35px
  line-height 35px
  text-indent 30px
.home-banner-img
  display block
  width 100%
.home-b
  padding 12px
  margin-bottom 12px
  background-color #fff
.home-b1t
  background #fff
  padding 8px 15px 10px
  margin 0 5px
  border-radius 8px
  position relative
  top -20px
  z-index 10
  box-shadow 0 0 2px #ccc
.home-b1t-li
  width (100/4)%
  float left
  text-align center
.home-b1t-li-img
  display block
  width 50px
  margin 0 auto
.home-b1t-li-text
  font-size 13px
  color #4c4c4c
  margin-top 7px
.home-b1b-li
  width (100/3)%
  float left
  text-align center
  padding 20px 0
.home-b1b-li-img
  @extend .home-b1t-li-img
  width 50px
.home-b1b-li-text
  font-size 13px
  color #4c4c4c
  margin 11px 0 7px
.home-b1b-li-desc
  font-size 10px
  color #b2b2b2
.home-b2
  padding-top 7px
.home-b2b
  padding-right 100px
.home-b2l
  width 100%
  float left
  position relative
  &:after
    content ''
    display inline-block
    height 50px
    border-right 1px solid #ebebeb
    position absolute
    right 0
    top 10px
.home-b2lt
  width 180px
  height 19px
  line-height 19px
  border-radius 9px
  padding 0 10px
  background-color #E8F0FC
  font-size 10px
  color #8e9aae
.home-b2lt-l
  display inline-block
  line-height 19px
  font-size 14px
  color #000
.home-b2lb
  font-size 13px
  line-height 1.7
  margin-top 7px
  color #8e9aae
.home-b2b-text
  color #FEB508
.home-b2r
  display inline-block
  width 90px
  line-height 35px
  margin 15px -100px 0 10px
  padding 0 5px
  float left
  text-align center
  background-color #2882FF
  color #fff
  border-radius 18px
  &:after
    content ''
    display inline-block
    width 15px
    height 35px
    float right
    background url(./../../assets/img/home/home-icon-r1.png) no-repeat center center
    background-size 80%
.home-b-title
  display block
  line-height 15px
  color #6c7890
  padding-bottom 13px
  &:after
    content ''
    display inline-block
    width 15px
    height 15px
    float right
    background url(./../../assets/img/home/home-icon-r2.png) no-repeat center center
    background-size 80%
.home-b3b
  overflow hidden
.home-b3b-inner
  width 2000px
  height 196px
  overflow-x auto
.home-b3b-li
  display block
  width 150px
  float left
  text-align center
  margin-right 20px
.home-b3b-li-img
  display block
  max-width 150px
  margin 0 auto
.home-b3b-li-tit
  font-size 12px
  margin 10px 0 12px
.home-b3b-li-price
  color #de0e0e
  font-size 13px
.home-b4b-li
  display block
  width 30%
  height 30px
  line-height 30px
  float left
  text-align center
  box-shadow 0 0 3px #ddd
  margin-bottom 13px
  border-radius 5px
  position relative
  &:nth-child(3n+2)
    margin 0 5% 13px
  &:before
    content '■'
    color #2882FF
    font-size 16px
    margin-right 3px
.home-b5b-li
  float left
  width 50%
.home-b5b-l
  padding-right 8px
.home-b5b-r
  padding-left 8px
.home-b5bl-img1
.home-b5bl-img2
  display block
  width 100%
  margin-bottom 12px
.home-b5bl-author
  margin-top 8px
  line-height 14px
.home-b5bl-author-l
  color #999
  font-size 12px
.home-b5bl-author-r
  color #de0e0e
  float right
.home-b6b-li
  display block
  padding 13px 0 13px 80px
  border-bottom 1px solid #ebebeb
.home-b6bl
  width 80px
  margin-left -80px
  float left
  overflow hidden
.home-b6bl-img
  display block
  width 100%
  border-radius 5px
.home-b6br
  width 100%
  float left
  padding 10px 0 0 10px
.home-b6br-title
  font-size 15px
  color #000
.home-b6br-tag
  margin 12px 0 6px
.home-b6br-tags
  display inline-block
  height 15px
  line-height 15px
  float left
  margin-right 6px
  padding 0 3px
  font-size 12px
.home-b6br-tag-1
  color #2882ff
  border 1px solid #2882ff
.home-b6br-tag-2
  color #02d081
  border 1px solid #02d081
.home-b6br-text
  color #b2b2b2
  font-size 12px

/* nav */
.nav
  width 100%
  padding 5px 0
  position fixed
  left 0
  bottom 0
  background-color #fff
  border-top 1px solid #ebebeb
.nav-list
  display block
  width 20%
  float left
  text-align center
  .nav-list-icon
    background-size 100%
.nav-list3
  position relative
.nav-list-icon
  width 25px
  height 25px
  margin 0 auto
.nav-list-icon3-inner
  width 50px
  height 50px
  background url(./../../assets/img/home/nav-icon-03.png) no-repeat center center
  background-size 100%
$navUrls = 1 2 4 5
for urls in $navUrls
  .nav-list-icon{urls}
    background url('./../../assets/img/home/nav-icon-0'urls'.png') no-repeat center center
.nav-list-active
  .nav-list-icon1
    background url(./../../assets/img/home/nav-icon-01-active.png) no-repeat center center
  .nav-list-icon2
    background url(./../../assets/img/home/nav-icon-02-active.png) no-repeat center center
  .nav-list-icon4
    background url(./../../assets/img/home/nav-icon-04.png) no-repeat center center
  .nav-list-icon5
    background url(./../../assets/img/home/nav-icon-05-active.png) no-repeat center center
  .nav-list-icon
    background-size 100%
.nav-list-text
  color #B2B2AF
  margin-top 5px
.nav-list-active
  .nav-list-text
    color #2882ff
.nav-list-icon3
  width 60px
  height 60px
  padding-top 5px
  padding-left 5px
  border-radius 30px
  position absolute
  left 50%
  top -30px
  z-index 10
  background-color #fff
  margin-left -30px
  border-top 1px solid #bebebe
.nav-list-text3
  margin-top 30px

/* my */
.my-head
  padding 10px 12px
  background-color #fff
  margin-bottom 12px
.my-ht
  display flex
.my-htl
  flex 0 0 60px
.my-htr
  flex 1
  padding-left 10px
.my-htl-pic
  display block
  width 60px
  border-radius 50%
.my-htr-name
  font-size 14px
  color #000
  padding 5px 0 8px
.my-htr-auth
  color #b2b2b2
  font-size 12px
.my-htr-rank
  background-color #0F76F9
  font-size 10px
  color #fff
  padding 1px
.my-hb
  display flex
  height 14px
  line-height 14px
  margin-top 20px
.my-hbl
  flex 1
.my-hbr
  display flex
  justify-content space-between
  flex 0 0 70px
  &:after
    content ''
    display inline-block
    width 14px
    height 14px
    background url(./../../assets/img/my/my-icon-r.png) no-repeat center center
    background-size 50%
    align-self flex-end
.my-b
  background-color #fff
  margin-bottom 12px
  padding 0 12px
.my-b1
  padding-bottom 15px
.my-b1-title
  height 30px
  line-height 30px
.my-b1-menu
  display flex
  flex-flow nowrap
.my-b1-li
  flex 1
  text-align center
.my-b1-li-img
  display block
  width 35px
  margin 0 auto
  font-size 12px
.my-b2-li
  display flex
  border-bottom 1px solid #ebebeb
  span
    height 40px
    line-height 40px
.my-b2-lil
  flex 0 0 30px
.my-b2-lim
  flex 1
.my-b2-lir
  flex 0 0 15px
  background url(./../../assets/img/home/home-icon-r2.png) no-repeat right center
  background-size 70%
$myLiIcon = '01' '02' '03' '04' '05' '06' '07'
for urls, i in $myLiIcon
  .my-b2-lil-{i+1}
    background url('./../../assets/img/my/my-icon-'urls'.png') no-repeat left center
    background-size 60%
/* faxian */
.fx-head
  display flex
  background-color #fff
.fx-hli
  display flex
  flex 1
  justify-content center
  text-align center
  height 35px
  line-height 35px
.fx-hli-inner
  line-height 35px
.fx-hli-active
  .fx-hli-inner
    color #0F76F9
    border-bottom 2px solid #0F76F9
.fx-search
  padding 7px 12px
.fx-search-int
  display block
  width 100%
  height 30px
  line-height 30px
  border-radius 8px
  text-align center
.fx-recommend
  background-color #fff
  padding 12px 0 0 12px
.fx-recommend-outer
  width 1000px
  background-color #F5F5F7
  border-radius 10px
  padding 12px 0
.fx-recom-title
  height 20px
  line-height 20px
  text-indent 12px
  margin-bottom 12px
.fx-recommend-li
  float left
  width 200px
  height 100px
  padding 12px
  background-color #fff
  border-radius 8px
  margin-left 12px
.fx-recommend-li-title
  height 20px
  line-height 20px
  margin-bottom 12px
.fx-recommend-li-icon
  display inline-block
  height 20px
  vertical-align middle
.fx-ask
  background-color #fff
  padding 12px
.fx-ask-head
  display flex
  align-items center
.fx-ask-hl
  flex 0 0 20px
  display inline-block
  vertical-align middle
  width 20px
.fx-ask-hm
  flex 1
  line-height 20px
  padding-left 5px
.fx-ask-hr
  flex 0 0 60px
  text-align center
  height 25px
  line-height 25px
  background-color #0F76F9
  color #fff
  border-radius 12px
  font-size 12px




































