body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:715px;
}
#u347 {
  position:absolute;
  left:105px;
  top:85px;
  width:1045px;
  height:715px;
}
#u348 {
  position:absolute;
  left:2px;
  top:350px;
  width:1041px;
  visibility:hidden;
  word-wrap:break-word;
}
