{include file="/public/_head" /}

    <title>项目案例</title>
</head>
<body>

{include file="/public/_header" /}

<div class="project-main">
    <div class="project-banner"></div>
    <div class="sec-f sec-f1">
        <div class="sec-inner">
            <h2 class="sec-title-en">Service</h2>
            <h2 class="sec-title-zh">服务范围</h2>
            <div class="sec-project-inner clear">
                <div class="sec-pi1-l">
                    <img src="/static/home/img/project-img-01.png" alt="" class="sec-pi1-l-img">
                </div>
                <div class="sec-pi1-r">
                    <div class="sec-pi1r-li">
                        <div class="sec-pi1r-li-h1">财富管理咨询</div>
                        <div class="sec-pi1r-li-h2">致力于为社会大众和高净值人群提供多元化、专业化的财富管理咨询服务。</div>
                    </div>
                    <div class="sec-pi1r-li">
                        <div class="sec-pi1r-li-h1">项目投融资</div>
                        <div class="sec-pi1r-li-h2">选取优质、成熟、有潜力的企业，作为投资对象。通过严谨的风控体系，严格立项，确保项目安全及发展。</div>
                    </div>
                    <div class="sec-pi1r-li">
                        <div class="sec-pi1r-li-h1">互联网金融</div>
                        <div class="sec-pi1r-li-h2">运用互联网、大数据等科技手段，为国内优质客户群体，提供信用借款服务。</div>
                    </div>
                    <div class="sec-pi1r-li">
                        <div class="sec-pi1r-li-h1">普惠金融</div>
                        <div class="sec-pi1r-li-h2">为中小微企业及个人，提供专业化、定制化、高效化的金融服务,以满足当前融资发展需求。</div>
                    </div>
                    <div class="sec-pi1r-li">
                        <div class="sec-pi1r-li-h1">私募基金</div>
                        <div class="sec-pi1r-li-h2">私募基金相比于传统的间接融资更具独特优势，现已成为支持中国科技创新与经济发展中最直接、最活跃的力量。</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sec-f sec-f4">
        <div class="sec-inner sec-inner4">
            <h2 class="sec-title-en">Classic</h2>
            <h2 class="sec-title-zh">经典案例</h2>
            <div class="sec-f4-warp clear">
                <div class="sec-f4-l">
                    <h3 class="sec-warp-title">我还年轻</h3>
                    <div class="sec-warp-text">
                        北京我还年轻餐饮管理有限公司是一家专门从事“大型火锅餐饮、特许连锁经营、餐饮文化开发、人才教育培训、餐饮技术研发、食品生产加工、物流仓储配送 ”于一体的餐饮连锁品牌，现已在北京成功开设台湾街店、莲怡园店、六里桥店、三里屯店和怀柔店，其战略总目标：致力于打造中国餐饮连锁知名品牌。
                        <br>
                        <br>
                        由于我还年轻门店规模不断扩大，企业运转资金需求增加成为制约企业发展的主要瓶颈。中业了解到企业发展中遇到的实际问题，委派专业团队到我还年轻进行实际调研。同时借助内、外部行业专家力量，为我还年轻餐饮门店、中央厨房配送基地建设实时提供专业、有效、及时的咨询服务及决策参考。并最终帮助企业获得必要的资金支持，解决了我还年轻在发展过程中遇到的实际问题。
                    </div>
                </div>
                <div class="sec-f4-r clear">
                    <img src="/static/home/img/project-img-02.png" alt="" class="sec-pi2r-img sec-pi2r-img1">
                    <img src="/static/home/img/project-img-03.png" alt="" class="sec-pi2r-img sec-pi2r-img2">
                    <img src="/static/home/img/project-img-04.png" alt="" class="sec-pi2r-img sec-pi2r-img3">
                </div>
            </div>
        </div>
    </div>
</div>

{include file="/public/_footer" /}