{include file="/public/_head" /}

    <title>中业控股</title>
</head>
<body>

{include file="/public/_header" /}

<div class="index-container">
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-1" style="background: url(/static/home/img/index-banner-02.jpg) no-repeat center center"></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
            <!-- 如果需要导航按钮 -->
            <!--<div class="swiper-button-prev"></div>-->
            <!--<div class="swiper-button-next"></div>-->
            <!-- 如果需要滚动条 -->
            <!--<div class="swiper-scrollbar"></div>-->
        </div>
    </div>
    <div class="section">

        <div class="sec-f sec-f1">
            <div class="sec-inner sec-inner1">
                <h2 class="sec-title-en">Business</h2>
                <h2 class="sec-title-zh">业务布局</h2>
                <div class="sec-f1-wrap clear">
                    <div class="sec-f1-li">
                        <img src="/static/home/img/zk-icon-01.png" alt="" class="sec-f1-li-img">
                        <h4 class="sec-f1-li-title">财富管理咨询</h4>
                        <div class="sec-f1-li-desc">致力于为社会大众和高净值人群提供多元化、专业化的财富管理咨询服务</div>
                    </div>
                    <div class="sec-f1-li">
                        <img src="/static/home/img/zk-icon-03.png" alt="" class="sec-f1-li-img">
                        <h4 class="sec-f1-li-title">互联网金融</h4>
                        <div class="sec-f1-li-desc">运用互联网、大数据等科技手段，为国内优质客户群体，提供信用借款服务</div>
                    </div>
                    <a style="display:block" href='/project'>
                    <div class="sec-f1-li">
                        <img src="/static/home/img/zk-icon-02.png" alt="" class="sec-f1-li-img">
                        <h4 class="sec-f1-li-title">项目投融资</h4>
                        <div class="sec-f1-li-desc">选取优质、成熟、有潜力的企业，作为投资对象。通过严谨的风控体系，严格立项，确保项目安全及发展</div>
                    </div>
                    </a>
                    <div class="sec-f1-li sec-f1-li4">
                        <img src="/static/home/img/zk-icon-04.png" alt="" class="sec-f1-li-img">
                        <h4 class="sec-f1-li-title">普惠金融</h4>
                        <div class="sec-f1-li-desc">为中小微企业及个人，提供专业化、定制化、高效化的金融服务,以满足当前融资发展需求</div>
                    </div>
                    <div class="sec-f1-li">
                        <img src="/static/home/img/zk-icon-06.png" alt="" class="sec-f1-li-img">
                        <h4 class="sec-f1-li-title">私募基金</h4>
                        <div class="sec-f1-li-desc"> 私募基金相比于传统的间接融资更具独特优势，现已成为支持中国科技创新与经济发展中最直接、最活跃的力量。</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sec-f sec-f2">
            <div class="sec-inner sec-inner2">
                <h2 class="sec-title-en">About us</h2>
                <h2 class="sec-title-zh">关于我们</h2>
                <div class="sec-f2-warp clear">
                    <div class="sec-f2-l">
                        <h3 class="sec-warp-title">了解中业控股</h3>
                        <div class="sec-warp-text">
                            中业控股集团，（总部）位于北京CBD核心区域。旗下主营业务：大型餐饮连锁、项目投融资服务、财富管理咨询、互联网金融、新三板及地产基金、类固定收益类产品等领域。中业集团秉承“产融结合（实体+金融）”、“金融+”的战略发展理念，致力于打造成为国内具有领先竞争力的综合性、专业化、多元化的金融服务机构。“保障民间资本安全，助力实体经济发展”是中业集团始终遵循、坚守的发展原则。
                        </div>
                        <a href="/intro" class="sec-more sec-more-f2">More</a>
                    </div>
                    <div class="sec-f2-r">
                        <img src="/static/home/img/zk-img-04.png" alt="" class="sec-f2-r-img">
                    </div>
                </div>
            </div>
        </div>

        <div class="sec-f sec-f3">
            <div class="sec-inner sec-inner3">
                <h2 class="sec-title-en">News</h2>
                <h2 class="sec-title-zh">新闻资讯</h2>
                <div class="sec-f3-warp clear">
                    <div class="sec-f3-l">
                        <!-- <img src="/static/home/img/zk-img-05.png" alt="" class="sec-f3-l-img">
                        <a href="" class="sec-f3-l-title">捐赠清华大学金融科技研究院智慧金融</a>
                        <div class="sec-f3-l-text">
                            5月6日，主题为“规范发展 合作共赢”的2018北京大学全球金融论坛，在北京大学百周年纪念讲堂隆重举行。时值北京大学120周年校庆之际，来自国务院发展研究中心.....
                        </div> -->
                    </div>
                    <div class="sec-f3-r">

                        <!-- <div class="sec-f3-li clear">
                            <div class="sec-f3-lil">
                                <div class="sec-f3-lil-date">2018.06.06</div>
                                <span class="sec-f3-lil-dot"></span>
                            </div>
                            <a href="" class="sec-f3-lir">
                                <h4 class="sec-f3-lir-title">成立成立成立成立</h4>
                                <p class="sec-f3-lir-desc">成立成立成立成立成立成立成立成立</p>
                            </a>
                        </div> -->

                        <!-- <a href="javascript:" class="sec-more sec-more-r">More</a> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="sec-f sec-f4">
            <div class="sec-inner sec-inner4">
                <h2 class="sec-title-en">Project</h2>
                <h2 class="sec-title-zh">项目案例</h2>
                <div class="sec-f4-warp clear">
                    <div class="sec-f4-l">
                        <h3 class="sec-warp-title">我还年轻</h3>
                        <div class="sec-warp-text">
                            北京我还年轻餐饮管理有限公司是一家专门从事“大型火锅餐饮、特许连锁经营、餐饮文化开发、人才教育培训、餐饮技术研发、食品生产加工、物流仓储配送 ”于一体的餐饮连锁品牌，现已在北京成功开设台湾街店、莲怡园店、六里桥店、三里屯店和怀柔店，其战略总目标：致力于打造中国餐饮连锁知名品牌。
                            <br>
                            <br>
                            由于我还年轻门店规模不断扩大，企业运转资金需求增加成为制约企业发展的主要瓶颈。中业了解到企业发展中遇到的实际问题，委派专业团队到我还年轻进行实际调研。同时借助内、外部行业专家力量，为我还年轻餐饮门店、中央厨房配送基地建设实时提供专业、有效、及时的咨询服务及决策参考。并最终帮助企业获得必要的资金支持，解决了我还年轻在发展过程中遇到的实际问题。
                        </div>
                    </div>
                    <div class="sec-f4-r clear">
                        <img src="/static/home/img/zk-img-02.png" alt="" class="sec-f4-r-img sec-f4-r-img1">
                        <img src="/static/home/img/zk-img-03.png" alt="" class="sec-f4-r-img sec-f4-r-img2">
                        <img src="/static/home/img/zk-img-01.png" alt="" class="sec-f4-r-img sec-f4-r-img3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="/public/_footer" /}

<script src="/static/home/js/jquery.min.js"></script>
<script src="/static/home/js/swiper.min.js"></script>
<script>

    $(function(){
        var mySwiper = new Swiper('.swiper-container', {
//            direction: 'vertical',
            loop: true,
            autoplay: true,//可选选项，自动滑动
            // 如果需要分页器
            pagination: {
                el: '.swiper-pagination',
            },
            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            // 如果需要滚动条
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        })
    })

</script>
<script>
    $(function(){
        $.get('/article/data_list',{
            page:1,
            limit:5,
            type_id:95
        }).then(function(res){
            // console.log(res)
            var val = res.data.list
            var html = ''
            for(var i=0;i<val.length;i++){
                // console.log(val[i].publish_time.slice(0,10))
                // console.log(i)
                if(i==0){
                    $('.sec-f3-l').html('<img onerror="imgErr(this)" src="'+val[0].thumb+'" alt="" class="sec-f3-l-img">'+
                    '<a href="/article/details?id='+val[i].article_id+'" class="sec-f3-l-title">'+val[0].title+'</a>'+
                    '<div class="sec-f3-l-text">'+val[0].description+'</div>')
                    continue
                }
                html += 
            '<div class="sec-f3-li clear"><div class="sec-f3-lil">' +
            '<div class="sec-f3-lil-date">'+getTimes(val[i].publish_time)+'</div><span class="sec-f3-lil-dot"></span></div>' +
            '<a href="/article/details?id='+val[i].article_id+'" class="sec-f3-lir">' +
            '<h4 class="sec-f3-lir-title">'+val[i].title+'</h4>' +
            '<p class="sec-f3-lir-desc">'+val[i].description+'</p></a></div>'
            }
            // html += '<a href="/article" class="sec-more sec-more-r">More</a>'
            $('.sec-f3-r').html(html)
        },function(err){
            console.log(err)
        });
    })

    function imgErr(e){
        e.src='http://placehold.it/480x260?text=404'
    }
    function getTimes(t){
        return t.slice(0,10)
    }
</script>